In [194]:
import requests as rq

In [195]:
from bs4 import BeautifulSoup

In [196]:
import pandas as pd

In [197]:
url= 'https://webscraper.io/test-sites/e-commerce/allinone/phones/touch'

In [198]:
responce = rq.get(url)

In [199]:
soup = BeautifulSoup(responce.text, 'html.parser')

In [209]:
MobailName = soup.findAll('a',{'class':'title'})

In [210]:
MobailName

[<a class="title" href="/test-sites/e-commerce/allinone/product/1" title="Nokia 123">Nokia 123</a>,
 <a class="title" href="/test-sites/e-commerce/allinone/product/2" title="LG Optimus">LG Optimus</a>,
 <a class="title" href="/test-sites/e-commerce/allinone/product/3" title="Samsung Galaxy">Samsung Galaxy</a>,
 <a class="title" href="/test-sites/e-commerce/allinone/product/4" title="Nokia X">Nokia X</a>,
 <a class="title" href="/test-sites/e-commerce/allinone/product/5" title="Sony Xperia">Sony Xperia</a>,
 <a class="title" href="/test-sites/e-commerce/allinone/product/6" title="Ubuntu Edge">Ubuntu Edge</a>,
 <a class="title" href="/test-sites/e-commerce/allinone/product/7" title="Iphone">Iphone</a>,
 <a class="title" href="/test-sites/e-commerce/allinone/product/8" title="Iphone">Iphone</a>,
 <a class="title" href="/test-sites/e-commerce/allinone/product/9" title="Iphone">Iphone</a>]

In [211]:
titlt_list = [title.get_text(strip=True) for title in MobailName]

In [212]:
titlt_list

['Nokia 123',
 'LG Optimus',
 'Samsung Galaxy',
 'Nokia X',
 'Sony Xperia',
 'Ubuntu Edge',
 'Iphone',
 'Iphone',
 'Iphone']

In [204]:
prices = soup.findAll('h4',{'class':'price'})

In [205]:
prices

[<h4 class="price float-end card-title pull-right">$24.99</h4>,
 <h4 class="price float-end card-title pull-right">$57.99</h4>,
 <h4 class="price float-end card-title pull-right">$93.99</h4>,
 <h4 class="price float-end card-title pull-right">$109.99</h4>,
 <h4 class="price float-end card-title pull-right">$118.99</h4>,
 <h4 class="price float-end card-title pull-right">$499.99</h4>,
 <h4 class="price float-end card-title pull-right">$899.99</h4>,
 <h4 class="price float-end card-title pull-right">$899.99</h4>,
 <h4 class="price float-end card-title pull-right">$899.99</h4>]

In [206]:
price_list = [price.get_text(strip=True) for price in prices]

In [207]:
price_list

['$24.99',
 '$57.99',
 '$93.99',
 '$109.99',
 '$118.99',
 '$499.99',
 '$899.99',
 '$899.99',
 '$899.99']

In [213]:
list = pd.DataFrame({'Mobile Name':titlt_list , 'price': price_list})

In [214]:
list

      Mobile Name    price
0       Nokia 123   $24.99
1      LG Optimus   $57.99
2  Samsung Galaxy   $93.99
3         Nokia X  $109.99
4     Sony Xperia  $118.99
5     Ubuntu Edge  $499.99
6          Iphone  $899.99
7          Iphone  $899.99
8          Iphone  $899.99